/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar_bg{
    background-color: white;
    width: 100%;
    height: 7vh;
    box-shadow: 0 4px 6px 0 rgba(36, 36, 36, 0.2);
    position: fixed;
    top: 0;
    z-index: 10;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}
.logo_img{
    margin-right: 8px;

}
.logo_text{
    margin-left: 2px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.right_line{
    border-right: 1px solid gray;
    height: 3vh;
    margin-left: 10px;
}
.cartNav_container{
    text-decoration: none;
    margin-left: 8px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.login{
    margin: 0 6px
}
.signup{
    margin: 0 8px
}
.logout{
    margin: 0 8px;
}
.admin_view{
    margin: 0 8px;
}
.logo_img_src{
    width: 3rem;
    height: 3/2;
    object-fit: contain;
    mix-blend-mode: multiply;
    background-color: white; 
    border-radius: 100%;
    border: 0.1px solid rgb(149, 145, 145);
} */
































/* CHANGES I HV MADE */
/* 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar_container{
    width: 100%;
    height: 80px;
    background: #d0cdef;
    display: flex;
    align-items: center;
    justify-content: space-around;
}  

.logo_img{
  
}
h2{
    margin-left: 2px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fefefe;
}
.logo_img_src{
    width: 3rem;
    object-fit: contain;
    mix-blend-mode: multiply;
    background-color: white; 
    border-radius: 100%;
    border: 0.1px solid rgb(149, 145, 145);
    margin-left: 25px;
}


.name{
    display: none; 
}
.navbar_center{
    display: block;
}
.logo_img {
    display: block;
}
.flexcenter{
    display: block;
}

.navbar_center .admin_view {
    position: relative;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.navbar_center  .admin_view:hover {
    color:#11101b;
    background: #fefefe; 
} 


@media only screen and (max-width: 1320px) {
    .navbar_container {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .navbar_container  {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .name {
        display: block;
        cursor: pointer;
    }
    .name .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }
    
    .navbar_center .admin_view {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
        display: block;
        text-align: center;
        opacity: 0;
    }
    .navbar_center .admin_view {
        margin-bottom: 12px;
    } 
}


.cartNav_container{
    text-decoration: none;
    margin-left: 8px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.login{
    margin: 0 6px
}
.signup{
    margin: 0 8px
}
.logout{
    margin: 0 8px;
}
.admin_view{
    margin: 0 8px;
}
 */












/*  new navbar CSS */


@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Gowun Batang", serif;
}

/* navbar style start  */

.main_nav {
  width: 100%;
  height: 80px;
  display: grid;
  align-content: center;
  grid-template-columns: 8rem  0.8fr 2fr 0.8fr 8rem ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color: #11101b;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  grid-template-columns: auto auto; 
  gap: 20px;
}
 .logo .logo_img_src {
    width: 4rem;
    height: auto;
    object-fit: contain;
    border-radius: 20%;
    border: 1px solid #959191;
    margin-top: 10px 0;
  }
  .logo h2 {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
  }

.menu_link {
  grid-column: 3/4;
}

.menu_link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.admin_view {
    color: #d72020;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 50px;
    transition: 0.2s;
    padding: 0.8rem;
}
.admin_view:hover {
    color:#11101b;
    background: #fefefe; 
} 


.social_media .logout{
    grid-column: 4/5;
}
.social_media{
    align-items: center;
    cursor: pointer;
    /* justify-content: flex-end; */
    /* display: grid;  */
    display: flex;
    gap: 0.8rem;
    position: absolute;
    top: 18px;
    right: 2rem;
    color: red;
    text-transform: capitalize;
}
.social_media img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.social_media span{
    font-size: 20px;
    font-weight: 900;
}

.social_media .hamburger_menu {
  display: none;
}

/* ----------- Grid part ends ----------------- */


/* responsive css style  */
@media (max-width: 1080px) {
  .main_nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu_link ul,
  .social_media {
    height: 8rem;
  }
}

/* responsive css style  */
@media (max-width: 998px) {
  .main_nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu_link {
    display: none;
  }

  .logo,
  .social_media {
    height: 7rem;
  }

  .menu_link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .menu_link {
    background-color: rgb(233, 244, 230);
    height: 22rem;
    display: grid;
    grid-column: 1/6;
    align-content: center;
    /* padding-left: 10rem; */
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .menu_link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .menu_link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social_media {
    grid-row: 1/2;
    grid-column: 3/5;
    transition: all 2s linear;
    margin: -20px 0;
  }

  .social_media span {
    display: none;
  }
  .social_media .logout {
    display: none;
  }

  .social_media .hamburger_menu {
    display: block;
    font-size: 2.5rem;
    background-color: red;
    border-radius: 10%;
    padding: 0;
  }
}

@media (max-width: 798px) {
  .main_nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .social_media  {
    height: 6rem;
  }

  .social_media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social_media .hamburger_menu {
    display: block;
    font-size: 2.5rem;
    background-color: red;
    border-radius: 10%;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .main_nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .social_media  {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .social_media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social_media .hamburger_menu {
    display: block;
    font-size: 2.5rem;
    background-color: red;
    border-radius: 10%;
    padding: 0;
  }
}



